*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    background:linear-gradient(violet,pink,purple);
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    background-color: #fff;
    width: 50vw;
    height: 30vh;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}
#btn{
    width: 80px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: rgb(70, 132, 202);
    color: #fff;
    font-weight: 700;
    
}